.sessionArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 350px;
    height: 150px;
    margin-top: 20px;
    @include petit_ecran{
        p{
            display: none;
        }
        a{
            transform: rotate(-90deg);
        }
    }
}
.sectionArticle{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    div{
        p{
            font-size: 2rem;
            font-weight: bold;
        }
    }
}
.cours section:nth-child(13) article{
    border: 2px dashed black;
    background-color: gray;
}
.cours section:nth-child(17) article{
    border: 2px dashed black;
    background-color: gray;
}
.cours section:nth-child(21) article{
    border: 2px dashed black;
    background-color: gray;
}
.cours section:nth-child(22) article{
    border: 2px dashed black;
    background-color: gray;
}
.cours section:nth-child(23) article{
    border: 2px dashed black;
    background-color: gray;
}
.cours section:nth-child(24) article{
    border: 2px dashed black;
    background-color: gray;
}